<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p class="fst-italic">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro aut, nobis vel dolorum
                possimus quas
                culpa nisi, eius nihil, quo ratione sequi odio eligendi voluptatem error repellat necessitatibus? Dolor,
                quidem.</p>
        </div>
    </div>
</div>

<!--Edit Contact Form-->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form #f="ngForm" (submit)="submitUpdate()">
                <div class="mb-2">
                    <input [(ngModel)]="contact.name" [value]="contact.name" name="name" required
                        class="form-control" #nome ="ngModel" placeholder="Name" type="text">
                </div>
                
                <div class="mb-2">
                    <input [(ngModel)]="contact.photo" [value]="contact.photo" name="photo" required="true" class="form-control"
                        placeholder="Photo URL" type="text">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.email" [value]="contact.email" name="email" required="true" class="form-control"
                        placeholder="Email" type="email">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.mobile" [value]="contact.mobile" name="mobile" required="true" class="form-control"
                        placeholder="Mobile" type="number">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.company" [value]="contact.company" name="company" required="true" class="form-control"
                        placeholder="Company" type="text">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.title" [value]="contact.title" name="title" required="true" class="form-control"
                        placeholder="Title" type="text">
                </div>
                <div class="mb-2">
                    <select [(ngModel)]="contact.groupId" [value]="contact.groupId" name="groupId" required="true" class="form-control">
                        <option value="undefined" disabled selected>Select a Group</option>
                        <option value="" *ngFor="let group of groups"[innerHtml]="group.name"></option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="Update" type="submit">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img alt="" [src]="contact.photo"
                class="contact-img">
        </div>
    </div>
</div>